:root{
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(23, 23, 23);
    --colorTextos: #49454567;
}

/*---------------- REGISTRO -------------------*/

html
{
    font-family: 'Roboto';
}

#main-container{
    color: rgb(12, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    margin-top: 73px;

}

.formulario{
    background-color: white;
    color: rgb(12, 12, 12);
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 490px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 60%;
	width: 40%;
	z-index: 2;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
    align-content: center;
    justify-content: center;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.img{
    width: 150%;
    height: 150%;
  }

form{
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 80%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 15px ;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 14px;
    position: absolute;
    left: 5px;
    top: 8px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -10px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #3633a8, #9c71fc, #25d1db);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}


button{
    font-family: 'Roboto';
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #14539a, #0185f4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #14539a, #0185f4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: black;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

